{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}

<div>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code>/home/hani/web/training-tracker/src/Controller/MainController.php</code></li>
        <li>Your template at <code>/home/hani/web/training-tracker/templates/main/index.html.twig</code></li>
    </ul>
</div>
{% endblock %}
